/* Grundläggande tabellstilar */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 2.5vw 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1000px) {
    table {
        width: 60%;
        margin-left: auto; /* Centers the table */
        margin-right: auto; /* Centers the table */
    }
}

/* Stilar för tabellhuvud */
thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-size: 1.7em;
}

/* Lägger till zebra-stripning för rader */
tbody tr {
    border-bottom: 0.1vw solid darkblue;
}

tbody tr:nth-of-type(even) {
    background-color: #ffffd9;
}

tbody tr:last-of-type {
    border-bottom: 0.2vw solid #009879;
}

tbody tr:hover {
    background-color:  lightcyan;
}

/* Stilar för celler */
th, td {
    padding: 1.2vw 1.5vw;
}

th:nth-child(1), td:nth-child(1) { /* First column */
    width: 15%;
    text-align: center;
}

th:nth-child(3), td:nth-child(3) { /* Third column */
    width: 20%;
    text-align: center;
}